<div class="input-select">
  <label for="i{{id}}">
    <select name="val" id="si{{id}}">
      <option value="BYN">BYN</option>
      {{#each db.dir}}
      <option value={{this.Cur_Abbreviation}}>
        {{this.Cur_Abbreviation}}
      </option>
      {{/each}}
    </select>
  </label>
  <input id="i{{id}}" type="text" autocomplete="off" maxlength="10" value={{usd.Cur_OfficialRate}} />
</div>