<h1>Currency Converter</h1>
<div class="currency-header">
  <span>{{usd.Cur_Abbreviation}} {{usd.Cur_OfficialRate}}</span>
  <span>{{eur.Cur_Abbreviation}} {{eur.Cur_OfficialRate}}</span>
  <span>{{rub.Cur_Abbreviation}} {{rub.Cur_OfficialRate}}</span>
  <span>{{pln.Cur_Abbreviation}} {{pln.Cur_OfficialRate}}</span>
</div>