<table class="bank-info-head">
  <caption class="converter-head">Курсы в банках Минска на
    {{date}}</caption>
  <thead>
    <tr>
      <th>Валюта</th>
      <th>Покупка</th>
      <th>Продажа</th>
      <th>НБ РБ</th>
    </tr>
  </thead>
  <tr>
    <td>{{nbrb.usd.Cur_Scale}} {{nbrb.usd.Cur_Name}}</td>
    <td>{{alfaBank.usd.buyRate}}</td>
    <td>{{alfaBank.usd.sellRate}}</td>
    <td>{{nbrb.usd.Cur_OfficialRate}}</td>
  </tr>
  <tr>
    <td>{{nbrb.eur.Cur_Scale}} {{nbrb.eur.Cur_Name}}</td>
    <td>{{alfaBank.eur.buyRate}}</td>
    <td>{{alfaBank.eur.sellRate}}</td>
    <td>{{nbrb.eur.Cur_OfficialRate}}</td>
  </tr>
  <tr>
    <td>{{nbrb.rub.Cur_Scale}} {{nbrb.rub.Cur_Name}}</td>
    <td>{{alfaBank.rub.buyRate}}</td>
    <td>{{alfaBank.rub.sellRate}}</td>
    <td>{{nbrb.rub.Cur_OfficialRate}}</td>
  </tr>
</table>