<table class="rates-table-sort">
  <caption class="rates-table-nav">
    <ul>
      <li>Минск</li>
      <li>Брет</li>
      <li>Витебск</li>
      <li>Гродно</li>
      <li>Гомель</li>
      <li>Могилёв</li>
    </ul>
  </caption>
  <thead>
    <tr>
      <th rowspan="2">Bank</th>
      <th colspan="2">USD</th>
      <th colspan="2">EUR</th>
      <th colspan="2">RUB</th>
    </tr>
    <tr class="sort">
      <td>Покупка</td>
      <td>Продажа</td>
      <td>Покупка</td>
      <td>Продажа</td>
      <td>Покупка</td>
      <td>Продажа</td>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{alfaBank.name}}</td>
      <td>{{alfaBank.usd.buyRate}}</td>
      <td>{{alfaBank.usd.sellRate}}</td>
      <td>{{alfaBank.eur.buyRate}}</td>
      <td>{{alfaBank.eur.sellRate}}</td>
      <td>{{alfaBank.rub.buyRate}}</td>
      <td>{{alfaBank.rub.sellRate}}</td>
    </tr>
  </tbody>
</table>